@import "ui-variables";

.tileset-editor {
  .options {
    padding: @component-padding;
    overflow-y: auto;

    .control-group {
      margin-bottom: @component-padding;
    }

    atom-text-editor.mini {
      background-color: @input-background-color;
    }
  }
}
